.root {
    -fx-font-family: "System";
    -fx-background-color: #f6f7fb;
}

/* MENU */
.menu-bar {
    -fx-background-color: white;
    -fx-border-color: #e6e7ee;
    -fx-border-width: 0 0 1px 0;
}

/* CARD */
.card {
    -fx-background-color: rgba(255, 255, 255, 0.80);
    -fx-background-radius: 16px;
    -fx-border-color: rgba(255, 255, 255, 0.9);
    -fx-border-radius: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 20, 0, 0, 5);
    -fx-max-width: 400px;
    -fx-min-width: 300px;
    -fx-max-height: 420px;
    -fx-alignment: center;
}

/* TITLES */
.title {
    -fx-font-size: 24px;
    -fx-font-weight: 800;
    -fx-text-fill: #1f2330;
    -fx-alignment: center;
}

.subtitle {
    -fx-font-size: 14px;
    -fx-opacity: 0.65;
}

/* FIELDS */
.field-label {
    -fx-font-size: 12px;
    -fx-opacity: 0.75;
    -fx-font-weight: bold;
}

.field {
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #e6e7ee;
    -fx-background-color: #fbfbfe;
    -fx-padding: 8px 10px;
}

/* BUTTONS */
.button {
    -fx-background-radius: 8px;
    -fx-padding: 8px 12px;
    -fx-background-color: #eef0f6;
    -fx-text-fill: #1f2330;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.button.primary {
    -fx-background-color: #2f6fed;
    -fx-text-fill: white;
}

/* Hint */
.hint {
    -fx-font-size: 11px;
    -fx-opacity: 0.6;
}